  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                        <li><a href="mailto:rdevai@consultoriad.es"><i class="fa fa-envelope"></i></a>
                        </li>
                        {% comment %}<li><a href="tel:+34617819632"><i class="fa fa-phone"></i></a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                    </ul>
                </div>
                {% comment %}<div class="col-md-4">{% endcomment %}
                    {% comment %}<ul class="list-inline quicklinks">{% endcomment %}
                        {% comment %}<li><a href="#">Privacy Policy</a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                        {% comment %}<li><a href="#">Terms of Use</a>{% endcomment %}
                        {% comment %}</li>{% endcomment %}
                    {% comment %}</ul>{% endcomment %}
                {% comment %}</div>{% endcomment %}
            </div>
        </div>
    </footer>
